node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# SQLite
*.db

# Voltech test data files
*.atr

# Rust build artifacts
src-tauri/migration/target/
src-tauri/migration_voltech/target/
src-tauri/migration_event/target/
src-tauri/migration_manual/target/
